<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travel_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dangkylogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Navigation_Activity" />
        <activity android:name=".DetailsCity_Activity" />
        <activity android:name=".BookTourCity_Activity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ListTour_Activity" />
        <activity android:name=".DetailsTourWasBooked_Activity" />
        <activity android:name=".ListBookRoomHotelInDaLat_Activity" />
        <activity android:name=".ListBookRoomHotelInHoChiMinh_Activity" />
        <activity android:name=".ListBookRoomHotelInHaNoi_Activity" />
        <activity android:name=".ListBookRoomHotelInDaNang_Activity" />
        <activity android:name=".ListBookRoomHotelInSaPa_Activity" />
        <activity android:name=".DetailsHotelBook_Activity" />
        <activity android:name=".ChangePassword_Activity" />
        <activity android:name=".ListRoomWasBooked_Activity" />
    </application>

</manifest>